.mainForm {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

header{
    padding-left: 10%;
    padding-top: 3%;
    font-size: 48px;
    color: #ffffff;
}

body{
    background-color: #171940;
    color: #FFDBB5;
    font-size: 24px;
}

.button{
    width: 100%;
    color: white;
    font-weight: bold;
}

.advanced{
    padding-top: 20px;
    padding-bottom: 20px;
}

.buttons{
    padding-top: 20px;
    padding-bottom: 20px;
}

.datePicker{
    background-color: white;
    color: black;
}

.extentions{
    padding-bottom: 20px;
}